:host {
  display: flex;
  width: 100%;
  height: 100%;
}
.other {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  video {
    height: 960px;
    width: 1440px;
  }
}
.me {
  position: absolute;
  video {
    height: 240px;
    width: 320px;
    border-radius: 4px;
  }
}
.controls {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    margin-left: 16px;
    margin-right: 16px;
  }
}