
<div *ngIf="remoteStream$ | async; let remoteStream" class="other">
  <video [srcObject]="remoteStream"
    poster="assets/images/logo-white.svg" autoplay></video>
</div>


<mat-card *ngIf="localStream$ | async; let localStream" class="me">
  <video [srcObject]="localStream"
    poster="assets/images/logo-white.svg" autoplay muted [volume]="0"></video>
</mat-card>

<mat-card class="controls">
  <button 
    mat-raised-button
    *ngIf="{audioOn: audioOn$ | async} as data"
    (click)="toggleAudio(!data.audioOn)"
    [matTooltip]="data.audioOn ? 'Mic is turned ON' : 'Mic is turned OFF'">
    <mat-icon [color]="data.audioOn ? 'accent' : 'auto'">{{ data.audioOn ? 'mic' : 'mic_off'}}</mat-icon>
  </button>
  <button
    mat-raised-button
    *ngIf="{videoOn: videoOn$ | async} as data"
    (click)="toggleVideo(!data.videoOn)"
    [matTooltip]="data.videoOn ? 'Camera is turned ON' : 'Camera is turned OFF'">
    <mat-icon [color]="data.videoOn ? 'accent' : 'auto'">{{ data.videoOn ? 'videocam' : 'videocam_off'}}</mat-icon>
  </button>
  <button mat-raised-button matTooltip="Copy the meeting link" (click)="copyLink()">
    <mat-icon>link</mat-icon>
  </button>
  <ng-container *ngIf="room$ | async; let room">
    <ng-container *ngIf="remoteStream$ | async; let remoteStream">
      <button mat-raised-button matTooltip="Kick from the call" *ngIf="room.isHost" (click)="kickGuest()">
        <mat-icon>person_remove</mat-icon>
      </button>
    </ng-container>
  </ng-container>
  <button mat-raised-button matTooltip="End the call" color="warn" (click)="leave()">
    <mat-icon>call_end</mat-icon>
  </button>
</mat-card>