<form [formGroup]="rtcForm">
  <h1 mat-dialog-title>
    Setup your video
  </h1>
  <div mat-dialog-content>
    <div class="input-block">
      <div class="video-wrapper">
        <ng-container *ngIf="stream$ | async; let stream">
          <video
            autoplay
            muted
            [srcObject]="stream"
            [volume]="0">
          </video>
        </ng-container>
      </div>
      <mat-slide-toggle
          color="accent"
          formControlName="video">
          Use Camera
      </mat-slide-toggle>
    </div>
    <div class="input-block audio-block">
      <mat-slide-toggle
          color="accent"
          formControlName="audio">
          Use Microphone
      </mat-slide-toggle>

      <app-micro-sound
        *ngIf="stream$ | async; let stream" [stream]="stream"
        [isMicroOn]="rtcForm.value.audio">
      </app-micro-sound>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="accent" [disabled]="!rtcForm.valid" [mat-dialog-close]="true">
      Enter the meeting
    </button>
    <button mat-raised-button [mat-dialog-close]="false">
      Cancel
    </button>
  </div>
</form>