button {
  width: 100%;
  margin-bottom: 12px;
  &:last-child {
    margin: 0!important;
  }
}
.input-block {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin-bottom: 12px;
  &:last-child {
    margin: 0;
  }
}
mat-slide-toggle {
  display: block;
  padding: 12px;
}
video, .video-wrapper {
  height: 240px;
  width: 320px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.audio-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}