<form [formGroup]="userForm">
  <h1 mat-dialog-title>
    Choose a User Name
  </h1>
  <div mat-dialog-content>
    <mat-form-field color="accent">
      <mat-label>User Name</mat-label>
      <input matInput type="text" formControlName="name" required maxlength="32" autocomplete="off">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="accent" [disabled]="!userForm.valid" (click)="setUserName()">
      Submit
    </button>
  </div>
</form>