:host {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  span {
    margin-left: 16px;
    margin-right: 16px;
  }
  form {
    display: flex;
    width: 200px;
    flex-direction: column;
  }
  button {
    width: 200px;
  }
}