<button (click)="createMeeting()" mat-raised-button color="accent">Create a meeting room</button>
<span>or</span>
<form [formGroup]="joinForm">
  <mat-form-field color="accent">
    <mat-label>Room Id</mat-label>
    <input matInput type="text" required formControlName="roomId" autocomplete="off">
  </mat-form-field>
  
  <button [disabled]="!joinForm.valid" (click)="joinMeeting(joinForm.value.roomId)" mat-raised-button color="accent">Join a meeting room</button>
</form>